<!DOCTYPE html>
<html lang="en">
<head>
  <title>Iras site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Candidats</h2>
  <p>Only those who can dig buraki</p>
  <form action="iras_check" method="POST">
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" id="usr" name="cand">
    </div>
    <div class="form-group">
      <label for="skl">Skills:</label>
      <input type="text" class="form-control" id="skl" name="skl">
    </div>
    <button type="submit" class="btn btn-default">Send to Ira</button>
  </form>
</div>

</body>
</html>
